<%

String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}

String.prototype.texscape = function() {
  return this.replace(/([#|&|\_|\$|%])/g, "\\\$1")   	// Escape semantically-relevant TeX symbols, i.e. # => \#
              .replace(/\s'/g, " `")                  // Deal with starting and sentence-initial quotes
              .replace(/\s"/g, " ``")                 // since TeX wants ``...'' and not "..."
              .replace(/^'/g, "`")
              .replace(/^"/g, "``")
              .replace(/<em>/g, "\\textit\{")
              .replace(/<\/em>/g, "\}")
}

const cv_line = ({year, name}) => `\\marginnote{${year}} ${name}.`

-%>
%!TEX TS-program = xelatex
%!TEX encoding = UTF-8 Unicode
%!BIB TS-program = biber

\documentclass[11pt]{article}

% Paths relative to build/ directory
\input{../src/templates/latex/preamble.tex}
\bibliography{../src/data/San-Nay_CV.bib}

\begin{document}

\renewcommand{\today}{\ifcase \month \or January\or February\or March\or %
April\or May\or June\or July\or August\or September\or October\or November\or %
December\fi, \number \year} 

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Header
\hspace{-1in}\textit{Curriculum Vitae}  \hfill \today \\

\hspace{-1in}{\LARGE{Nay San}}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Contact Information
\section*{\hspace{-1in}Contact Information}

\begin{minipage}[t]{0.675\textwidth}

  <%= contact.address.replace(/\n/g, "\\\\") %>

\end{minipage}
\begin{minipage}[t]{0.55\textwidth}

  \begin{tabbing}
    \textit{E-mail:}\hspace{0.5em}          \= \href{mailto:<%= contact.email %>}{<%= contact.email %>} \\
    \textit{Web:}                     \> \url{<%= contact.url %>} \\
    \textit{ORCID:}          \> \href{https://orcid.org/<%= contact.orcid %>}{<%= contact.orcid %>}
  \end{tabbing}

\end{minipage}
\vspace{-1em}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Research Interests
\section*{\hspace{-1in}Research Interests}

<%- research_interests.join("; ").texscape().capitalize() %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Work
\section*{\hspace{-1in}Employment}

<% work.map(job => { %>
  \marginnote{\minsc{<%= job.date %>}} \textbf{<%= job.title %>}. <%= job.info %>.
<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Education
\section*{\hspace{-1in}Education}

<% education.formal.map(degree => { %>

\marginnote{<%= degree.year %>} \textbf{<%= degree.award %>}, <%= degree.institutions.map(({name, url}) => name).join("; ") %>
  
  <% if(degree.thesis) { %>
    \textit{Thesis title:} <%= degree.thesis.title %> \\
    \textit{<%= degree.thesis.supervisors.length > 1 ? "Supervisors" : "Supervisor" %>:}
    <%= degree.thesis.supervisors.map(name => people[name].name).join(", ") %>
    \vspace{0.5em}
  <% } %>

<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Other academic experience
\section*{\hspace{-1in}Other Academic Experience}
<% education.other.map(exp => { %>
  \marginnote{\minsc{<%= exp.date %>}} <%= exp.title %>. <%= exp.info %>.
<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Appointments
\section*{\hspace{-1in}Appointments}
<% appointments.map(appointment => { %>
\marginnote{\minsc{<%= appointment.date %>}} <%- appointment.position %>. <%- appointment.where.texscape() %>.
<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Honours and awards
\section*{\hspace{-1in}Honours and Awards}
<% moneys.honours.map(award => { %>
  \marginnote{\minsc{<%= award.date %>}} <%- award.title %>. <%= award.from %>. <%= award.amount ? `\\hfill ${award.amount}` : "" %>
<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Grants
\section*{\hspace{-1in}Grants}

<% moneys.grants.map(grant => { %>

  \begin{minipage}[t]{0.80\textwidth}
    \marginnote{\minsc{<%= grant.date %>}}<%- grant.recipients.replace(/San, N\./g, "\\textbf{San, N.}") %> \textit{<%- grant.title %>}. <%= grant.note %>.
  \end{minipage}
  \begin{minipage}[t]{0.19\textwidth}
    \hfill <%= grant.amount %>
  \end{minipage}

<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Research output, configured in ../../src/data/San-Nay_CV.yml/output
\newcommand\blfootnote[1]{%
  \begingroup
  \renewcommand\thefootnote{}\footnote{#1}%
  \addtocounter{footnote}{-1}%
  \endgroup
}

\nocite{*}
<% output.map(item => { %>

  \section*{\hspace{-1in}<%= item.section %>}

  \begin{adjustwidth}{-0.75in}{}

    <%- item.subsections.map(ss => `\\printbibliography[keyword=${ss.keyword},title={${ss.title}},heading=subbibliography]`).join("\n") -%>

  \end{adjustwidth}

<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Research assistantships
\section*{\hspace{-1in}Research Assistantships}

<%- research.items.map(cv_line).join("\n\n").texscape() %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Software
\section*{\hspace{-1in}Software}

\begin{adjustwidth}{-0.75in}{}
  <%- software.map(s => `- ${s.name}. \\url{${s.url}}`).join("\n\n").texscape() %>
\end{adjustwidth}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Teaching
<% teaching.map(({section, classes, subsections}) => { %>

  \section*{\hspace{-1in}<%= section %>}

  <% if(!subsections) { %>

    <%- classes.map(cv_line).join("\n\n").texscape() %>

  <% } else { %>

    <% subsections.map(({title, classes}) => { %>

      \subsection*{\hspace{-0.75in}<%= title -%>}

      <%- classes.map(cv_line).join("\n\n").texscape() %>

    <% }) %>

  <% } %>
  
<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Service
\section*{\hspace{-1in}Service}

<% service.map(({section, items}) => { %>

  \subsection*{\hspace{-0.75in}<%= section %>}

  <%- items.map(cv_line).join("\n\n").texscape() %>
  
<% }) %>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Languages
\section*{\hspace{-1in}Languages}

\hspace{-0.75in}<%- languages.join(", ").texscape() %>

\end{document}
