<% education.formal.map(degree => { %>

<div class="row education">
    <div class="col-xs-12 col-md-2 year">
        <h3><%= degree.year %></h3>
	</div>
    <div class="col-xs-12 col-md-10">
        <h3><%= degree.award %></h3>

        <div class="extra-info">
            <% degree.institutions.map(({name, url}) => {%>
                <p>
                    <a href="<%= url %>" target="_blank">
                        <%= name %>
                    </a>
                </p>
            <%}) %>

            <% if(degree.thesis) { %>
                <p>
                    Thesis: <em><%= degree.thesis.title %></em>
                </p>
                <p>
                    <%= degree.thesis.supervisors.length > 1 ? "Supervisors" : "Supervisor" %>:

                    <%- include('join_people.ejs', { people_list: degree.thesis.supervisors, people }) %>
                </p>
            <% } %>

        </div>
    </div>
</div>

<% }) %>
