<%

// Helper functions
const cv_line = ({year, name}) => `
  <div class="col-2 year">
    <h3>${year}</h3>
	</div>
  <div class="col-10">
    <h3>${name}</h3>
  </div>
`

-%>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137866858-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137866858-1');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Curriculum Vitae of Nay San, Stanford Linguistics">
    <meta property="og:image" content="https://www.resunay.com/static/images/banner.jpg" />
    <link rel="icon" type="image/png" href="static/images/favicon.png">
	<title>Nay San - Stanford Linguistics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100,300">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600">

    <link rel="stylesheet" href="static/css/index.css"> 
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Content rendered dynamically, see index.js //-->
    </ul>
  </div>
</nav>

<div id="banner">
	Nay San
	<p>Stanford University</p>
</div>

<div class="container" style="max-width: 800px">

  <!-- <div class="row">
    <div class="col-12" style="text-align: center;">
      <h2>I am currently on the job market for industry positions</h2>
    </div>
  </div> -->

  <h1 id="about" class="nav-item">About</h1>

  <div class="row">
    <div class="col-12">
      <img id="face" src="static/images/face.jpg">
      <p>
        Hi! I'm a final-year PhD Candidate in the <a href="https://linguistics.stanford.edu/" target="_blank">Department of Linguistics</a> at <a href="https://www.stanford.edu/" target="_blank">Stanford University</a>, advised by <a href="https://web.stanford.edu/~jurafsky/" target="_blank">Dan Jurafsky</a>.
        My research focuses on data-centric approaches to creating speech and language technologies for digitally-underserved languages and user populations.
        In <a href="#research_output">recent work</a>, I have been examining how we can improve the adaptability and efficiency of large, pre-trained speech models for use in low-resource/-compute scenarios, such as those in endangered language documentation projects.
      </p>
      <p>
        In summer 2023, I worked as a Machine Learning Engineer Intern at <a href="https://rime.ai/" target="_blank">rime</a>, developing human-in-the-loop training data acquisition pipelines for building multi-speaker conversational text-to-speech (TTS) models capable of generating a range of diverse accents.
        In the summer prior, I interned with the Siri and Language Technologies (SaLT) team at Apple to investigate data selection approaches for improving rare-word speech recognition.
      </p>
      <p>
        I am also an Affiliate Member of the <a href="http://www.dynamicsoflanguage.edu.au/" target="_blank">ARC Centre of Excellence for the Dynamics of Language</a> (CoEDL) and a Visiting Fellow at the <a href="http://asiapacific.anu.edu.au/" target="_blank">Australian National University</a> (ANU), where I was based prior to Stanford and, where I developed tools and workflows to help clean, process, and transform lexicographical data from several Australian Aboriginal languages (Arabana, Kaytetye, Warlpiri, Warumungu).
      </p>
      <p>
        To pay forward the benefits I received from tutoring as a young immigrant kid (lived in 8 countries by 21), I volunteer as a maths tutor in the East Bay with <a href="https://www.reftrans.org/" target="_blank">Refugee & Immigrant Transitions</a>. If you are from a historically underrepresented group and are interested in speech and language technology research, feel very free to e-mail if you'd like a chat!
      </p>
    </div>
  </div>

  <div class="row" id="contact-info">
    <div class="col-md-4 col-xs-12">
          <i class="fa fa-envelope-o"></i>
          <a href="mailto:<%= contact.email %>"><%= contact.email %></a>
      </div>

    <div class="col-md-4 col-xs-12" style="text-align:center">
      @fauxneticien:
      <a href="https://github.com/fauxneticien" target="_blank">
        <i class="fa fa-github"></i>
      </a>

      <a href="https://gitlab.com/users/fauxneticien" target="_blank">
        <i class="fa fa-gitlab"></i>
      </a>

      <a href="https://twitter.com/fauxneticien" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>

    </div>

    <div class="col-md-4 col-xs-12">
      <i class="fa fa-building-o"></i>
      040D, <a href="https://www.google.com.au/maps/place/Building+460,+Margaret+Jacks+Hall,+Stanford,+CA+94305/@37.428539,-122.1725641,17z/data=!3m1!4b1!4m5!3m4!1s0x808fbb2a6b316771:0xfe68d1d4ce1d3489!8m2!3d37.4285348!4d-122.1703701" target="_blank">Margaret Jacks Hall</a>
    </div>
  </div>
  
  <%- include('./where_nay', { where_nay }) %>

  <div class="row">
    <div class="col-6">
      <h1 id="resume" class="nav-item">Curriculum Vitae</h1>
    </div>
    <div class="col-6" style="text-align:right;padding-top:45px;">
      <i class="fa fa-file-pdf-o"></i>
      <a href="Nay-San_CV.pdf">PDF Version</a>
    </div>
  </div>

  <h2>Employment</h2>

  <div class="row">
    <%- work.map(job => cv_line({ year: job.date, name: job.title + ". " + job.info})).join("\n\n") %>
  </div>

  <h2>Education</h2>
    <%- include('./education.ejs', { education, people }) %>

  <h3 class="section">Other academic experience</h3>

  <div class="row">
    <%- education.other.map(exp => cv_line({ year: exp.date, name: exp.title + ". " + exp.info})).join("\n\n") %>
  </div>

  <h2>Appointments</h2>
  <div class="row">
    <%- appointments.map(appointment => cv_line({ year: appointment.date, name: appointment.position + ". " + appointment.where })).join("\n\n") -%>
  </div>

  <div id="research_output">
    <%- include('../../../build/research_output.html') %>
  </div>

  <h2>Honours and Awards</h2>
  <div class="row">
    <%- moneys.honours.map(award => cv_line({ year: award.date, name: award.title + ". " + award.from })).join("\n\n") -%>
  </div>

  <h2>Grants</h2>
  <div class="row">
  <%-
    moneys.grants.map(grant => cv_line({
      year: grant.date,
      name: grant.recipients.replace(/San, N\./g, "<b>San, N.</b>") + " <em>" + grant.title + "</em>. " + grant.note + ". " + grant.amount
    })).join("\n\n")
  %>
  </div>

  <h2>Research Assistantships</h2>
  <div class="row">
    <%- research.items.map(cv_line).join("\n\n") %>
  </div>

  <h2>Software</h2>
  <div class="row">
    <ul>
    <%- software.map(s => `<li class="col-12">${s.name}. <a href="${s.url}" target="_blank">${s.url}</a>`).join("\n\n") %>
    </ul>
  </div>

  <h2>Teaching</h2>
  <% teaching.map(({section, classes, subsections}) => { %>

    <h3 class="section"><%= section %></h3>
    <div class="row" id="teaching" style="padding-left:1em">
    <% if(!subsections) { %>

      <%- classes.map(cv_line).join("\n\n") %>

    <% } else { %>

      <% subsections.map(({title, classes}) => { %>
        <div class="col-xs-12 col-md-12 subsection">
          <%= title -%>
        </div>

        <%- classes.map(cv_line).join("\n\n") %>

      <% }) %>

    <% } %>
    </div>
  <% }) %>

  <h2>Service</h2>
  <div class="row">
  <% service.map(({section, items}) => { %>
    <div class="col-xs-12 col-md-12 subsection"><%= section %></div>
    <%- items.map(cv_line).join("\n\n") %>
  <% }) %>
  </div>

  <h2>Languages</h2>
  <div class="row">
    <div class="col-12">
      <%- languages.join(", ") -%>
    </div>
  </div>

  <h2>Technical Skills</h2>
  <div class="row">
    <%- skillz.map(({name, note}) => cv_line({ year: name, name: note })).join("\n\n") %>
  </div>

  <h1 id="personal" class="nav-item">Personal</h1>

  <div class="row">
    <div class="col-12">
      Outside academia, I enjoy doing a bunch of things—such as <a href="https://youtu.be/7zs0OxujWEA" target="_blank">playing fiddle</a>, <a href="https://things.resunay.com/tasmanian-times" target="_blank">cycle touring</a>, <a href="https://things.resunay.com/portraits" target="_blank">photographing folks</a>, <a href="https://things.resunay.com/behind-a-blue-door" target="_blank">cooking with friends</a>, and <a href="https://things.resunay.com/least-favourite-questions" target="_blank">writing creative non-fiction</a>—and sometimes I put those things up on <a href="https://things.resunay.com/" target="_blank">https://things.resunay.com</a>.
      <br>
      <a href="https://things.resunay.com/" target="_blank">
        <img src="static/images/things.png" style="width:100%;max-width:640px;margin-left:auto;margin-right:auto;display:block" alt="https://things.resunay.com">
      </a>
    </div>
  </div>

</div>

<div id="footer">

      <p>Copyright <%= (new Date()).getFullYear() %> &copy; Nay San.</p>

      <p>All rights reserved.</p>

      <p>
        <a href="https://gitlab.com/fauxneticien/resunay.com" target="_blank">
          <i class="fa fa-gitlab" style="font-size:50px"></i>
          <br />
          View source code on GitLab
        </a>
      </p>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="static/js/index.js"></script>

</body>

</html>
