<%

    var date_options = { day: 'numeric', month: 'short', year: 'numeric' }

    where_nay = where_nay.filter(event => {
        var now_time = (new Date()).getTime()
        var evn_time = (new Date(event.start)).getTime()
        return now_time < evn_time
    }).sort((e1, e2) => {
        var e1_time = (new Date(e1.start)).getTime()
        var e2_time = (new Date(e2.start)).getTime()
        return e1_time > e2_time
    })

%>

<% if(where_nay.length > 0) { %>
    <h1 id="where-nay" class="nav-item">Where's Nay?</h1>

    <% where_nay.map(({start, end, where, url}) => { %>
        <div class="row where_nay">

            <div class="col-xs-12 col-md-4">
                <%= (new Date(start)).toLocaleDateString("en-UK", date_options) %>
                to <%= (new Date(end)).toLocaleDateString("en-UK", date_options) %> 
            </div>
            <div class="col-xs-12 col-md-8">
                <%- url ? `<a href="${url}" target="_blank">${where}</a>` : where %>
            </div>

        </div>
    <% }) %>
<% } %>
