body {
    font-family: 'Crimson Text';
    -webkit-font-smoothing: antialiased;
    font-size: 13pt;
    line-height: 1.25em;
}

h1 {
    padding-top: 45px;
    font-size: 1.5em;
    /* text-align: right; */
}

h2 { 
    padding-top: 30px;
    font-size: 1.25em;
}

h3, h4 { font-size: 1em }

a:hover {
    text-decoration: none;
    color: #d34615;
}

div.extra-info {
    font-size: 0.9em;
    padding-left: 1em;
    line-height: 1.25em;
}

div.csl-entry {
    padding-left: 2em;
    text-indent: -2em;
    padding-bottom: 0.25em;
}

.navbar > button:hover {
    cursor: pointer;
}

.navbar, .navbar > div {
    background: #ffffff;
}

.navbar {
    font-family: 'Alegreya Sans SC';
    font-weight: 300;
    width: 100%;
    position: fixed;
    z-index: 50;
    border-bottom: 1px solid #E7EDF2;
}

.navbar-toggler-icon {
    height: 15px;
    width: 15px;
}

div#banner {
    width: 100%;
    height: 525px;
    background-image: url('/static/images/banner.jpg');
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 15px;
    
    padding-top: 110px;
    text-align: center;
    font-size: 80px;
    color: #ffffff;
    font-family: 'Alegreya Sans SC';
    font-weight: 100;
}

div#banner p {
    padding-top: 50px;
    font-size: 25px;
    font-weight: 300;
}

div#contact-info {
    margin-top: 15px;
    margin-bottom: 15px;
}

img#face {
    float: right;
    width: 250px;
    margin: 5px;
}

div.education {
    margin-top: 5px;
    padding-bottom: 5px;
}

div.education div.year {
    text-align: center;
}

div.education p {
    margin: 0
}

div#research_output h3, h3.section {
    font-style: italic;
    margin-top: 0.5em;
}

div.subsection {
    font-family: 'Alegreya Sans SC';
    font-weight: 400;
}

div#footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
    div#navbarNav {
        text-align: center;
    }
    
    img#face {
        width: 230px;
        float: right;
    }
    
    h2 {
        text-align: center;
    }

    h2.project_name {
        text-align: left;
    }
    
    div.education div.year {
        text-align: left;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 500px) {
    div#navbarNav {
        text-align: center;
    }
    
    img#face {
        width: 90%;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    div#contact-info div {
        text-align: center;
        margin: 5px;
    }
    
    h2 {
        text-align: center;
    }
    
    div.year {
        text-align: center;
    }

    h2.project_name {
        text-align: left;
    }

    div.education div.year {
        text-align: left;
        font-size: 1.1em;
    }
    
    div.csl-entry {
        padding-left: 1em;
        text-indent: -1em;
        padding-bottom: 0.25em;
    }
}
